body {
    font-family: 'Times New Roman', Times, serif;
    background-color: blue;
    text-align: center;
    padding: 20px;
}

header {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}