*{box-sizing: border-box;}
#myform{
    width: 500px;
    margin: 3em auto;
    background-color: lightgray;
    padding: 2em;
}
.btnsubmit{
    width: 90%;
    background-color: black;
    color: whitesmoke;
    padding: 0.5em ;
    margin-top: 2em;
}
.btnsubmit:hover{
    background-color: red;
}
.greeting{
    width: 300px;
    margin: auto;
    display: none;
}
.greetuser{
    color: blue;
    font-weight: bolder;
}
.formcontrol{
    margin: 3em;
}
label{
    display: inline-block;
    width: 90%;
    color: lightgreen;
}
input{
    display: inline-block;
    width: 100%;
    color: blueviolet;
    padding: 0.5em;
}
.errormsg{
    color: red;
    font-size: 1.0em;
}
.btnsubmit:disabled{
    background-color: darkgray;
    cursor: not-allowed;
    color: darkblue;
}