body{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.title{
  text-align: center;
  color: black;
  padding: 1em;
}
/* SLICE APP */
.slicewrapper{
  width: 600px;
  margin: 2rem auto;
  box-shadow: 1px 1px 5px lightgray;
}
.numberWrapper{
  height: 200px;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  background-color: lightgreen;
  color: white;
}
.numberWrapper>div{
  border: solid gray 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  margin: 3rem;
}
.msg{
  text-align: center;
  font-weight: bolder;
}
.btngroup{
  display:flex;
  justify-content: space-evenly;
}
.btngroup>button{
  width: 30%;
  background-color: lightsalmon;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 10px;
}
.btngroup>button:hover{
  background-color: darkblue;
  box-shadow: 1px 1px 5px gray;
  font-weight: bolder;
}
.active{
  background-color: lightsalmon;
  box-shadow: 0px 0px 5px 1px gray;
}
/* OPEN AND CLOSE BUTTON*/
.info{
  width: 900px;
  padding: 2rem;
}
.readmore_btn{
  margin-left: 1rem;
  background-color: lightsalmon;
  padding: 0.2rem;
  border: none;
  color: white;
  border-radius: 10px;
}
.hiddentext p{
  width: 900px;
  padding: 2rem;
  background-color: aliceblue;
  margin: auto;
}