*{box-sizing: border-box;}
#myform{
    width: 400px;
    margin: 3em auto;
    background-color: lightskyblue;
    padding: 2em;
}
.btnsubmit{
    width: 100%;
    background-color:  gold;
    color: black;
    padding: 0.5em;
    margin-top: 2em;
    border: none;
    border-radius: 7px;
}
.btnsubmit:hover{
    background-color: darkblue;
}
.greeting{
    width: 400px;
    margin: auto;
    display: none;
}
.greetuser{
    color:lime;
    font-weight: bolder;
}
.formcontrol{
    margin: 2em;
}
label{
    display: inline-block;
    width: 30%;
    color: darkviolet;
}
input{
    display: inline-block;
    width: 100%;
    color: darkviolet;
    padding: 0.5em;
}
.errormsg{

}